<section id="header" class="">
  <div class="container">
    <div class="row" *ngFor="let org of organizations">
      <div class="col-8">
        <a [routerLink]="getOrganizationLink(org)" class="text-success">
          <h2>
            <span class="lnr lnr-home"></span> {{org.organization_name}}
          </h2>
        </a>
        <h6>
          {{org.organization_description}}
        </h6>
      </div>
      <div class="row" *ngIf="organizations.length === 0">
        <div class="col">
          <h6 class="text-secondary">Huh, looks like you are not yet a member of any organizations - try creating one ;)</h6>
        </div>
      </div>
    </div>
  </div>
</section>