<!--Here we check if the user has selected some role-->

<div *ngIf="userRole.userHasOrganizationRole;else default_create_page">
  <div class="row">
    <!--Creator info-->
    <div class="infobox-container col-md-3 offset-md-1">

      <div class="infobox">
        <h3><span>Personal Information</span></h3>
        <div id="personal-info"><app-creator-info-overview></app-creator-info-overview></div>
      </div>

    </div>

    <!-- The link for creating a new organization-->
    <p> OR CREATE A NEW ORGANIZATION FORM HERE: (this is a separate block somewhere lower)</p>
    <a class="nav-link" [routerLink]="['./organization']">Create organization from here</a>

    <br>

    <div class="col-md-9 ">
      <nav class="nav">
        <a class="nav-link" [routerLink]="['./event']">Event</a>
        <a class="nav-link" [routerLink]="['./campaign']">Campaign</a>
        <a class="nav-link" [routerLink]="['./sponsorship']">Start a sponsorship</a>

      </nav>

    </div>
  </div>
  <div class="row ">
    <div class="col-md-11 ">

      <router-outlet></router-outlet>

    </div>
  </div>


</div>


<!--This is the the component that is shown when user is not in role-->
<ng-template #default_create_page>

  <div class="row">
    <div class="col-md-8">
      <h3> Choose your organization from the top navigation bar or create a new organization if you don't have any</h3>

      <a class="nav-link" [routerLink]="['./organization']">Create organization from here</a>

    </div>

  </div>
  <div class="row">

    <br>
    <br>
    <h2>these cards should conatain what advantages do you get be creating an organization </h2>
  </div>

  <div class="row">

    <div class="class-md-4">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
    <div class="class-md-4">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>
    <div class="class-md-4">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    </div>

  </div>

</ng-template>
