<div class="row">
  <div class="col-md-5">
    <h1>Create a new organization</h1>

  </div>
</div>
<div class="row">
  <div class="col-md-5">

    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" >
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Description</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" >
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
