.logo {
  width: 50px;
  height: 50px;
}

.transp {
  background: rgba(255, 255, 255, 0.7);
}

.nav-link-pink {
  color: #DC3545;
  padding-right: .5rem;
  padding-left: .5rem;
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
}
  .nav-link-pink:hover {
    color: #CA2535;
  }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightpink;
  opacity: 1; /* Firefox */
}
.row {
  margin-left: auto;
  margin-right: auto;
}
