<section id="header" class="">
  <div class="container">
    <div class="row" id="feed-header">
      <div class="col-10" id="feed-tabs">
        <!-- Feed tab switchers -->
        <ul class="list-inline">
          <li class="list-inline-item mr-4" *ngFor="let tab of tabs">
            <div id="tab.id">
              <h5>{{tab.title}}</h5>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-2" id="feed-extras">
        <ul class="list-inline">
          <li class="list-inline-item">Lorem</li>
          <li class="list-inline-item">Phasellus</li>
        </ul>
      </div>
    </div>
  </div>
</section>