<div class="container-fluid">
  <div class="row top-space">
    <div class="col-md-2 offset-md-1">
      <h5 class="font-weight-bold">
        I am looking for
      </h5>
    </div>
    <div class="col-md-8">
      <input #box (keyup.enter)="search(box.value)" type="text" class="form-control" placeholder="Search term" aria-label="seacrTerm">
    </div>
  </div>
  <div class="row top-space">
    <div class="col-md-2 offset-md-1">
      <h5 class="font-weight-bold">
        And interested in
      </h5>
    </div>
    <div class="col-md-8">
      <div class="form-group btn-group-toggle btn-group btn-group-justified" data-toggle="buttons">
        <label (click)="onResourceTypeChanged('any', box.value)" class="col-auto btn btn-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Anything
        </label>
        <label (click)="onResourceTypeChanged('event', box.value)" class="col-auto btn btn-secondary">
          <input ng-change="onResourceTypeChanged($event)" ng-model="test" ng-value="1" type="radio" name="options" id="option2" autocomplete="off"> Events
        </label>
        <label (click)="onResourceTypeChanged('campaign', box.value)" class="col-auto btn btn-secondary">
          <input type="radio" name="options" id="option3" autocomplete="off"> Campaigns
        </label>
        <label (click)="onResourceTypeChanged('organization', box.value)" class="col-auto btn btn-secondary">
          <input type="radio" name="options" id="option3" autocomplete="off"> Organizations
        </label>
      </div>
    </div>
  </div>
  <div class="row top-space">
    <div *ngIf="noResults" class="col-md-6 offset-md-3" style="margin-top: 10%">
      <div class="row">
        <div class="text-center  col-md-12">
          <img src="../../../assets/images/ghost.JPG" alt="">
        </div>
      </div>
      <div class="row">
        <div class="text-center col-md-12">
          <h2>No results have appeared</h2>
        </div>
      </div>
      <div class="row">
        <div class="text-center col-md-12">
          <h5>Try adding a search term or check your spelling to bring the results out of hiding.</h5>
        </div>
      </div>
    </div>
    <!-- Events -->
    <div *ngIf="searchResults.events" class="offset-md-1 col-md-11">
      <app-discover-event *ngFor="let event of searchResults.events" [event]="event">
      </app-discover-event>
    </div>
    <!-- Campaigns -->
    <div *ngIf="searchResults.campaigns" class="offset-md-1 col-md-11">
      <app-discover-campaign *ngFor="let campaign of searchResults.campaigns" [campaign]="campaign">
      </app-discover-campaign>
    </div>
    <!-- Organizations -->
    <div *ngIf="searchResults.organizations" class="offset-md-1 col-md-11">
      <app-discover-organization *ngFor="let organization of searchResults.organizations" [organization]="organization">
      </app-discover-organization>
    </div>
  </div>
</div>