<!-- Current role -->
<div [class]="styling.item" id="current-role" routerLink="/profile">
  <!-- TODO: make user logo image appear in line with the text? -->
  <div>
    <!-- TODO: add the edit and view incentives -->
    <h4>{{displayName}}</h4>
    <span *ngIf="selectedRole">
      <p>
        {{selectedRole.title | uppercase}}
        <i>({{selectedRole.level}})</i>
        <br/> {{selectedRole.location}}
      </p>
    </span>
  </div>
</div>
<div [class]="styling.divider"></div>
<!-- List of available roles -->
<div id="available-roles">
  <div [class]="styling.item" *ngFor="let role of knownRoles">
    <app-list-role [role]="role" (click)="selectRole(role)">
    </app-list-role>
  </div>
</div>